@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
}
html, body{
    background: black;
}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
    background: #FF004D;
}
nav{
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 380px;
    text-indent: 120px;
}
nav ul li{
    display: inline-block;   
}
nav ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Syne", sans-serif;
    font-weight: bold;
    gap: 120px;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 19px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }
    nav ul li{
        display: block;
        line-height: 100px;
    }
    .nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .home .container{
        width: 40vmin;
        margin-top: -8%;
        margin-left: 20%;
    }
    .home .text1{
        margin-top: 110%;
        margin-left: -70%;
    }
    .home .text1 p{
        padding-right: 10%;

    }
    .home .icon{
        margin-top: 10%;
        margin-left: -75%;
    }
    .project .project1 h2{
        margin-left: 42.3%;
        margin-top: 15%;
    }
    .project .project1 h1{
        margin-left: 8%;
        margin-top: 22%;
    }
    .project .project1 p{
        margin-top: 29%;
        margin-left: 12.4%;
    }
    .project .project1 .p1{
        margin-top: 70%;
        margin-left: 13.5%;
        width: 380px;
        height: 262.64px;
    }
    .project .project1 .p2{
        margin-top: 106%;
        margin-left: 32.7%;
        width: 380px;
        height: 262.64px;
    }
    .project .project1 .p3{
        width: 380px;
        height: 262.64px;
        margin-top: 142%;
        margin-left: 13.5%;
    }
    .project .project1 .p4{
        margin-top: 70%;
        margin-left: 65%;
        width: 134px;
        height: 262.64px;
    }
    .project .project1 .p5{
        margin-top: 106%;
        margin-left: 13.5%;
    }
    .project .project1 .p6{
        margin-top: 142%;
        margin-left: 65%;
    }
    .project .project2 h1{
        margin-top: 180%;
        margin-left: 8%;
    }
    .project .project2 p{
        margin-top: 187%;
        margin-left: 12.4%;
    }
    .project .project2 h2{
        margin-top: 218%;
        margin-left: 42.3%;
    }
    .project .project2 .p1{
        margin-top: 225%;
        margin-left: 8%;
        height: 262.64px;
        width: 250px;
    }
    .project .project2 .p2{
        width: 380px;
        height: 262.64px;
        margin-top: 229.8%;
        margin-left: 44%;
    }
    .project .project2 .p3{
        width: 380px;
        height: 262.64px;
        margin-left: 25.5%;
    }
    .project .project2 h3{
        margin-left: 41.5%;
    }
    .project .project2 .p4{
        width: 380px;
        height: 262.64px;
        margin-top: 11%;
        margin-left: 6%;
    }
    .project .project2 .p5{
        width: 380px;
        height: 262.64px;
        margin-top: 30%;
        margin-left: -34%;
    }
    .project .project2 .p6{
        width: 380px;
        height: 262.64px;
        margin-top: 49%;
        margin-left: -15.5%;
    }
    .project3
}



/*.nav .nav-menu{
    list-style: none;
    display: flex;
    gap: 120px;
    font-size: 20px;
    font-family: "Syne", sans-serif;
    font-weight: bold;
    justify-content: center;
}

.nav .nav-links{
    background-color: transparent;
}
.nav .nav-menu a{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: 0.7s ease;
}
.nav .nav-menu a:hover{
    color: #FF004D;
}*/
.home{
    margin-top: 40%;
}
.container{
    width: 50vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 35%;
    overflow: hidden;
    background: none;
    border: 5px solid white;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
.wrapper img{
    width: 100%;
    object-fit: fill;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.text1 h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 64px;
    color: white;
    margin-top: -30%;
    margin-left: 50%; 
}
.text1 .highlight{
    color: #FF004D;
    transition: 0.7s ease;
}
.text1 .highlight:hover{
    color: #F8DE22;
}
.text1 p{
    font-family: "Questrial", sans-serif;
    color: white;
    padding-right: 18%;
    margin-left: 50.5%;
    margin-top: -2.5%;
    text-align: justify;
    line-height: 160%;
    font-size: 18px;
}
.icon{
    margin-top: 3%;
}
.facebook{
    margin-left: 870px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    position: absolute;
    transition: 0.7s ease;
}
.facebook:hover{
    color: #FF004D;
}
.github{
    position: absolute;
    margin-left: 950px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    transition: 0.7s ease;
}
.github:hover{
    color: #FF004D;
}
.linkedin{
    position: absolute;
    margin-left: 1025px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    transition: 0.7s ease;
}
.linkedin:hover{
    color: #FF004D;
}
.project{
    height: 150vh;
    margin-top: 4%;
}
.project1 h2{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    margin-top: 10%;
    margin-left: 48%;
    position: absolute;
}
.project1 h1{
    color: #F8DE22;
    font-family: "Syne", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 21%;
    position: absolute;
}
.project1 img{
    border-radius: 10px;
    border: 1px solid white;
}
.project1 p{
    color: white;
    font-family: "Questrial", sans-serif;
    line-height: 160%;
    font-size: 18px;
    padding-right: 14%;
    position: absolute;
    margin-top: 19%;
    margin-left: 23%;
    text-align: justify;
}
.project1 .p1{
    width: 578px;
    height: 262.64px;
    position: absolute;
    margin-top: 32%;
    margin-left: 25%;
    background: transparent;
}
.project1 .p2{
    width: 578px;
    height: 262.64px;
    position: absolute;
    margin-top: 50.5%;
    margin-left: 39.5%;
    background: transparent;
}
.project1 .p3{
    width: 578px;
    height: 262.64px;
    position: absolute;
    margin-left: 25%;
    margin-top: 69%;
    background: transparent;
}
.project1 .p4{
    width: 134px;
    height: 262.64px;
    position: absolute;
    margin-top: 32%;
    object-fit: contain;
    margin-left: 64.5%;
    background: transparent;
}
.project1 .p5{
    width: 134px;
    height: 262.64px;
    position: absolute;
    margin-left: 29.2%;
    object-fit: contain;
    margin-top: 50.5%;
    background: transparent;
}
.project1 .p6{
    width: 134px;
    height: 262.64px;
    position: absolute;
    margin-left: 64.5%;
    margin-top: 69%;
    object-fit: contain;
    background: transparent;
}
.project2 h1{
    color: white;
    position: absolute;
    margin-top: 90%;
    margin-left: 21%;
    font-family: "Syne", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #F8DE22;
}
.project2 p{
    color: white;
    position: absolute;
    margin-left: 23%;
    margin-top: 94%;
    font-family: "Questrial", sans-serif;
    line-height: 160%;
    font-size: 18px;
    padding-right: 14%;
    text-align: justify;
}
.project2 h2{
    color: #FF004D;
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 106%;
    margin-left: 45%;
}
.project2 img{
    border-radius: 10px;
    border: 1px solid white;
}
.project2 .p1{
    width: 275px;
    height: 310px;
    position: absolute;
    margin-top: 111%;
    margin-left: 25.5%;
}
.project2 .p2{
    width: 590px;
    height: 350px;
    margin-top: 111%;
    margin-left: 46%;
}
.project2 .p3{
    width: 590px;
    height: 350px;
    margin-top: 1.5%;
    margin-left: 36%;
}
.project2 h3{
    color: #FF004D;
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-left: 44%;
}
.project2 .p4{
    width: 590px;
    height: 350px;
    margin-top: 6%;
    margin-left: 20%;
}
.project2 .p5{
    position: absolute;
    width: 590px;
    height: 350px;
    margin-top: 18%;
    margin-left: -25%;
}
.project2 .p6{
    width: 590px;
    height: 350px;
    position: absolute;
    margin-top: 30%;
    margin-left: -10%;
}
.project3 h1{
    color: #F8DE22;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family: "Syne", sans-serif;
    margin-top: 27%;
    margin-left: 21%;
}
.project3 p{
    color: white;
    position: absolute;
    font-family: "Questrial", sans-serif;
    line-height: 160%;
    font-size: 18px;
    padding-right: 14%;
    text-align: justify;
    margin-top: 31.5%;
    margin-left: 23%;
    background: transparent;
}
.project3 img{
    border-radius: 10px;
    border: 2px solid black;
}
.project3 .p1{
    width: 597px;
    height: 290px;
    position: absolute;
    margin-top: 40%;
    margin-left: 23%;
}
.project3 .p2{
    width: 597px;
    height: 290px;
    position: absolute;
    margin-top: 56%;
    margin-left: 45%;
}
.project3 .p3{
    width: 597px;
    height: 290px;
    position: absolute;
    margin-top: 73%;
    margin-left: 23%;
}
.project3 .p4{
    width: 597px;
    height: 290px;
    position: absolute;
    margin-top: 90%;
    margin-left: 45%;
}
.project3 .p5{
    width: 597px;
    height: 290px;
    position: absolute;
    margin-top: 107%;
    margin-left: 23%;
}
.skill h1{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    margin-top: 245%;
    margin-left: 48%;
}
.skill img{
    width: 90px;
    height: 90px;
}
.skill .p1{
    position: absolute;
    margin-top: 251%;
    margin-left: 34%;
}
.skill .p2{
    position: absolute;
    margin-top: 251%;
    margin-left: 44%;
}
.skill .p3{
    position: absolute;
    margin-top: 251%;
    margin-left: 54%;
}
.skill .p4{
    position: absolute;
    margin-top: 251%;
    margin-left: 64%;
}
.skill .p5{
    position: absolute;
    margin-top: 260%;
    margin-left: 39%;
}
.skill .p6{
    position: absolute;
    margin-top: 260%;
    margin-left: 49%;
}
.skill .p7{
    position: absolute;
    margin-top: 260%;
    margin-left: 59%;
}
.skill .p8{
    position: absolute;
    margin-top: 269%;
    margin-left: 44%;
}
.skill .p9{
    position: absolute;
    margin-top: 269%;
    margin-left: 54%;
}
.contact{
    height: 650vh;
}
.contact h1{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    margin-top: 280%;
    margin-left: 47%;
    background: transparent;
}
.contact p{
    color: white;
    font-family: "Syne", sans-serif;
    font-size: 28px;
    position: absolute;
    margin-top: 287%;
    margin-left: 18.5%;
    background: transparent;
    font-weight: 700;
}
.contact .fname{
    color: white;
    position: absolute;
    margin-top: 289.5%;
    margin-left: 18.5%;
    font-size: 24px;
    background: black;
    border: none;
    border-bottom: 2px solid white;
    padding: 13px 160px 10px 5px;
    font-size: 18px;
    font-family: "Questrial",sans-serif;
}
.contact .fname:focus{
    outline: none;
}
.contact .email{
    color: white;
    position: absolute;
    margin-top: 293%;
    margin-left: 18.5%;
    font-size: 24px;
    background: black;
    padding: 13px 160px 10px 5px;
    font-size: 18px;
    font-family: "Questrial",sans-serif;
    border: none;
    border-bottom: 2px solid white;
}
.contact .email:focus{
    outline: none;
}
.contact .project-name{
    color: white;
    position: absolute;
    margin-top: 296.5%;
    margin-left: 18.5%;
    font-size: 24px;
    background: black;
    border: none;
    border-bottom: 2px solid white;;
    padding: 13px 160px 10px 5px;
    font-size: 18px;
    font-family: "Questrial",sans-serif;
}
.contact .project-name:focus{
    outline: none;
}
.contact .message{
    color: white;
    position: absolute;
    margin-top: 300.5%;
    margin-left: 18.5%;
    font-size: 24px;
    background: black;
    border: none;
    border-bottom: 2px solid white;
    padding: 5px 162px 10px 5px;
    font-size: 18px;
    font-family: "Questrial",sans-serif;
}
.contact .message:focus{
    outline: none;
}
.contact input::placeholder{
    color: white;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}
.contact textarea::placeholder{
    color: white;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}
.contact .send-button{
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 305.5%;
    margin-left: 35%;
    padding: 5px 45px 5px 20px;
    position: absolute;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(/images/Icon/paper-plane.png);
    background-position: 65px;
    background-repeat: no-repeat;
    background-size: 15%;
}
.contact .send-button:hover{
    background-color: #FF004D;
}
.contact .highlight{
    color: #FF004D;
}
.contact .contact-info{
    color: white;
    font-family: "Syne", sans-serif;
    font-size: 28px;
    position: absolute;
    margin-top: 287%;
    margin-left: 60%;
    background: transparent;
    font-weight: 700;
}
.contact .info .email-account{
    position: absolute;
    margin-top: 290.5%;
    margin-left: 61%;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.contact .info .contact-no{
    position: absolute;
    margin-top: 294%;
    margin-left: 61%;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.info .highlight-text{
    cursor: pointer;
    transition: 0.7s ease;
}
.info .highlight-text:hover{
    color: #FF004D;
    text-decoration: underline #FF004D;
}



/*media queries*/
